<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <style>
        .team-link{
            justify-content: center;
        }
    </style>
</head>
<body>
    <div class="frame-1 screen">
        <h1 class="team-link"><a href="/team">THE TEAM!</a></h1>
        <br>
        <h1 class="home-link"><a href="/">Home</a></h1>
        <h1 class="profile-link inter-medium-mine-shaft-10px"><a href="/profile">Profile</a></h1>
        <h1 class="photos-link inter-medium-mine-shaft-10px"><a href="/2nds">My Photos</a></h1>
        <img class="component-5" src="component-5.svg" alt="component 5" />
    </div>
       
    
</body>
</html>