<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="/style.css">
</head>

    <!-- <style>
        /* .team-link-footer,
        .home-link-footer,
        .profile-link-footer,
        .photos-link-footer{
            text-align: center;
            align-items: flex-end;
            font-size: medium;
        } */
    </style>

<body>
    <div class="frame-1-screen">
        <h1 class="team-link-footer"><a href="/team">THE TEAM!</a></h1>
        <h1 class="home-link-footer"><a href="/">Home</a></h1>
        <h1 class="profile-link-footer inter-medium-mine-shaft-10px"><a href="/profile">Profile</a></h1>
        <h1 class="photos-link-footer inter-medium-mine-shaft-10px"><a href="/2nds">My Photos</a></h1>
    </div>
       
</body> -->

<style>
    nav ul {
      display: flex;
      justify-content: center;
      list-style: none;
      margin: 0;
      padding: 0;
    }
  
    nav li {
      margin: 10px 10px;
    }
</style>

<body>
    <nav>
      <ul>
        <li><a href="/team">Meet the Team!</a></li>
        <li><a href="/">Login</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/2nds">My Photos</a></li>
      </ul>
    </nav>
    </div>
</body>

</html>