<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2nds</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Poiret+One&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
</head>

<!-- <style> -->
    <!-- .photos-link,
    .home-link,
    .profile-link,
    .team-link,
    .new-photo-link{
        /* text-align: end; */
        /* align-items: flex-end; */
        font-size: 10px;
        display: flex;
        flex-direction: row;
        list-style: none;
        margin: o;
        padding: 0;
    } -->

    <!-- .photos-link :hover {
        transform: rotate(15deg);
    }

    .home-link :hover {
        transform: rotate(15deg);
    }

    .profile-link :hover {
        transform: rotate(15deg);
    } -->

    <!-- .your-logo {
        width: 30%;
        height: 20%;
        object-fit: contain;
        align: left;
    } -->

<!-- </style> -->

<!-- <body> -->
    <!-- <div class="frame-1 screen">
        <img class="your-logo" src="https://i.postimg.cc/Jz0KqvDT/logo-no-background.png" />
        <h1 class="home-link"><a href="/">Home</a></h1>
        <h1 class="profile-link inter-medium-mine-shaft-20px"><a href="/profile">Profile</a></h1>
        <h1 class="photos-link inter-medium-mine-shaft-20px"><a href="/2nds">My Photos</a></h1>
        <h1 class="new-photo-link inter-medium-mine-shaft-20px"><a href="/2nds/new">Add a new photo!</a></h1>
    </div>
    <hr>
</body>

</html> -->


  
  <style>
    /* header {
        display: flex;
        justify-content: center;
        font-family: "Dongle", sans-serif;
        font-size: 15px;
    } */

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        max-width: 1200px;
        padding: 10px;
    }

    nav ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      margin: 0;
      padding: 0;
      font-size: 25px;
    }
  
    nav li {
      margin: 0 10px;
      padding: 0 10px;
    }

    .header-logo {
        width: 10%;
        height: auto;
        object-fit: contain;
        align: left;
    }
    </style>

<body>
    <div class="header-wrapper">
    <img class="header-logo" src="https://i.postimg.cc/Jz0KqvDT/logo-no-background.png" alt="2NDS brand logo">
    <nav>
      <ul>
        <li><a href="/">Login</a></li>
        <li><a href="/profile">My Profile</a></li>
        <li><a href="/2nds">My Photos</a></li>
        <li><a href="/2nds/new">Add a new photo!</a></li>
      </ul>
    </nav>
    </div>
</body>

</html>