<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2nds</title>
</head>
<body>
    <div class="frame-1 creen">
        <img class="your-logo" src="your-logo.svg" alt="YOUR LOGO" />
        <h1 class="home-link inter-medium-mine-shaft-24px">Home</h1>
        <h1 class="profile-link inter-medium-mine-shaft-24px">Profile</h1>
        <h1 class="photos-link inter-medium-mine-shaft-24px">Photos</h1>
        <img class="component-5" src="component-5.svg" alt="component 5" />
    </div>
    <hr>
</body>
</html>