<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>2nds</title>
</head>
<style>
    
    .photos-link :hover {
        transform: rotate(15deg);
    }

    .home-link :hover {
        transform: rotate(15deg);
    }
    
    .component-5 :hover {
        transform: rotate(15deg);
    }

    .profile-link :hover {
        transform: rotate(15deg);
    }
</style>
<body>
    <div class="frame-1 screen">
        <img class="your-logo" src="your-logo.svg" alt="YOUR LOGO" />
        <h1 class="home-link"><a href="/">Home</a></h1>
        <h1 class="profile-link inter-medium-mine-shaft-24px"><a href="/">Profile</a></h1>
        <h1 class="photos-link inter-medium-mine-shaft-24px"><a href="/">My Photos</a></h1>
        <img class="component-5" src="component-5.svg" alt="component 5" />
    </div>
    <hr>
</body>
</html>