<%- include("../views/partials/header.ejs") %>

<h1> BAD LINK !!!! TRY AGAIN </h1>

<iframe width="659" height="371" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>

<%- include("../views/partials/footer.ejs") %>

