<header>
    <%- include("../views/partials/header.ejs") %>
</header>

<head>
    <link rel="stylesheet" href="/style.css">
</head>


<h1> BAD LINK !!!! TRY AGAIN </h1>
<div>
<iframe width="659" height="371" src="https://www.youtube.com/embed/dQw4w9WgXcQ" title="Rick Astley - Never Gonna Give You Up (Official Music Video)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>



<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>

