<header>
    <%- include("../views/partials/header.ejs") %>
</header>

<head>
    <link rel="stylesheet" href="/style.css">
</head>

<style>

</style>

<body>
    <h1>Edit Post</h1>
    <div>
    <form method="POST" action="/pictures/<%= idx %>?_method=PUT"> 
        <label for="caption"></label>
        <input type="text" name="caption" id="caption" placeholder="Edit Caption Here">
        <br>
        <label for="date"></label>
        <input type="text" name="date" id="date" placeholder="Edit Date Here">
        <br>
        <label for="image"></label>
        <input type="text" name="image" id="image" placeholder="Edit Image Here">
        <br>
        <input type="submit" value="Submit Changes"> 
    </form>
    </div>
</body>
   
<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
