<!-- <%- include("../views/partials/header.ejs") %> -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./style.css">
</head>
<style>
    .header{
        text-align: center;
    }

    /* body {
        background-color: rgba(243, 238, 240, 0.799);
    } */

    /* p {
        font-family: verdana;
        font-size: 18px;
    } */

    footer{
        background-color: white
    }
</style>
<body>
    <!-- <h1 class='header' >Home Page</h1> -->
    <img src="/images/logo-no-background_720.png" width="400" alt="Seconds logo">
    <p> Share life's precious moments
    </p>
</body>

</html>

<footer>
<%- include("../views/partials/footer.ejs") %>
</footer>