<header>
    <%- include("../views/partials/header.ejs") %>
</header>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Photos</title>
    <link rel="stylesheet" href="/style.css">
</head>

<style>
    /* .gallery { */
        /* display: grid;
        grid-template-columns: repeat(3, 1fr); 
        grid-gap: 1em;
        height: 30vh;
        width: 30vw; */
    /* } */
</style>

<body>
    <h1>My Photos</h1>
    <!-- <div> -->
        <div class="gallery">
            <% for (let i = 0; i < pictures.length; i++ ) { %>
                <!-- <li> -->
                <a href="http://localhost:4000/2nds/<%= pictures[i]._id %>">
            <img src= <%= pictures[i].image %> alt="Different cat pictures">
                </a>
            <!-- </li> -->
        <% } %>
        </div>
    <!-- </div> -->
</body>
</html>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
