<%- include("../views/partials/header.ejs") %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>

<body>    
<h1>New post</h1>
<form action="/pictures" method="POST">
    <label for="caption">Caption:</label>
    <input type="text" name="caption" id="caption">
    <br>
    <label for="datePosted">Date:</label>
    <input type="text" name="datePosted" id="datePosted">
    <br>
    <label for="imageUrl">Image URL:</label>
    <input type="text" name="imageUrl" id="imageURl">
    <br>
    <input type="submit" value="Add new post"> 
</form>
</body>
</html>

<%- include("../views/partials/footer.ejs") %>