<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<style>
    input[type=text], select {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #111111;
        border-radius: 4px;
        box-sizing: border-box;
        font-family: "Dongle", sans-serif;
        text-align: center;
        font-size: 20px;
    }
    input[type=submit] {
        width: 100%;
        background-color: #C1C2AD;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: 1px solid #111111;
        border-radius: 4px;
        cursor: pointer;
        text-align: center;
        font-family: "Dongle", sans-serif;
        font-size: 20px;
    }
    input[type=submit]:hover {
        background-color: #535E4B;
        text-align: center;
    }
</style>

<body>    
<h1>New Post</h1>
<div>
<form method="POST" action="/pictures"> 
    <label for="caption"></label>
    <input type="text" name="caption" id="caption" placeholder="Post Caption" size="50">
    <br>
    <label for="date"></label>
    <input type="text" name="date" id="date" placeholder="Post Date" >
    <br>
    <label for="imageUrl"></label>
    <input type="text" name="image" id="image" placeholder="Image URL">
    <br>
    <input type="submit" value="Add new post"> 
</form>
<a href="/2nds"><button type="button" class="btn btn-info-outline waves-effect">Back to photos</button></a>
</div>
</body>
</html>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
