<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>    
<h1>New post</h1>
<form method="POST" action="/pictures"> 
    <label for="caption"></label>
    <input type="text" name="caption" id="caption" placeholder="Post Caption">
    <br>
    <label for="date"></label>
    <input type="text" name="date" id="date" placeholder="Post Date" >
    <br>
    <label for="imageUrl"></label>
    <input type="text" name="image" id="image" placeholder="Image URL">
    <br>
    <input type="submit" value="Add new post"> 
</form>
</body>
</html>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
