<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<style>
  body {
		background:#eee;
		}
		html,
		body,
		.view {
			height:100%;
		}
		.navbar-brand {
			color:#fff !important;
		}
		.profile-photo {
			width:48px;
			height:auto;
		}
		.flex-menu {
			display:flex;
		}
		.flex-menu li:not(:last-child) {
			margin-right:40px;
		}
        .col-md-2 {
            width: 10%;
            height: auto;
            justify-content: left;
        }
		.white-box {
    		background-color: white; 
		}
</style>
<body>
    <main>
		<div class="container">
			<div class="row m-b-r m-t-3">
				<div class="col-md-2 offset-md-1">
					<img src="https://pbs.twimg.com/media/C7dtIWsVsAA3wdJ.jpg" alt="" class="img-circle img-fluid">
				</div>
				<div class="white-box">
				<div class="col-md-9 p-t-2">
					<h2 class="h2-responsive">@dougdimmadome<button type="button" class="btn btn-info-outline waves-effect">Follow</button></h2>
					<p>Doug Dimmadome</p>
					<ul class="flex-menu">
						<li><strong>41</strong> posts</li>
						<li><strong>47k</strong> followers</li>
						<li><strong>208</strong> following</li>
					</ul>
						<h3>HI!! IM DOUG DIMMADOME!! OWNER OF THE DIMMSDALE DIMMADOME!!</h3>
                    	<h3>Billionaire, real-estate tycoon, and dee-stroyer of cherished childhood dreams! LIKE YOURS!</h3>
				</div>
				</div>

		
			
			
	</main>
</body>

</html>

<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
