<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/style.css">
</head>

<style>
    .team {
        border-radius: 50%;
        width: 30%;
    }
</style>

<body>
    <h1>OUR TEAM!!!</h1>
            <img class="team" src="/images/SA.png">
            <h3>Salma Aziz</h3>
        
            <img class="team" src="/images/SM.png">
            <h3>Shakoi Malone</h3>
        
            <img class="team" src="/images/BB.png">
            <h3>Brandon Bay</h3>
</body>
</html>




<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
