<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/style.css">
</head>

<!-- <style>
    /* .team-page {
        display: flex;
    }
    .col {
        flex: 1;
    } */
    .team {
        border-radius: 50%;
        width: 30%;
    }
</style>

<body>
    <div class="team-page">
    <h1>OUR TEAM!!!</h1>
        <div class="col">
            <img class="team" src="/images/SA.png">
            <h3>Salma Aziz</h3>
            <a href="/404">View Profile</a>
        </div>
        <div class="col"></div>
            <img class="team" src="/images/SM.png">
            <h3>Shakoi Malone</h3>
            <a href="/404">View Profile</a>
        </div>
        <div class="col">
            <img class="team" src="/images/BB.png">
            <h3>Brandon Bay</h3>
            <a href="/404">View Profile</a>
        </div>
    </div>
</body>
</html> -->



<style>
.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}

nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 25px;
}

nav li {
  margin: 0 10px;
  padding: 0 10px;
}

.header-logo {
    width: 10%;
    height: auto;
    object-fit: contain;
    align: left;
}

.team {
        border-radius: 50%;
        width: 33vw;
    }
</style>

<body>
<div class="the-team">
<nav>
  <ul>
    <li>
        <img class="team" src="/images/SA.png">
            <h3>Salma Aziz</h3>
            <a href="/404">View Profile</a>
    </li>
    <li>
        <img class="team" src="/images/SM.png">
        <h3>Shakoi Malone</h3>
        <a href="/404">View Profile</a>
    </li>
    <li>
        <img class="team" src="/images/BB.png">
        <h3>Brandon Bay</h3>
        <a href="/404">View Profile</a>
    </li>
  </ul>
</nav>
</div>
</body>

</html>




<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
