<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/style.css">
</head>


<style>
.the-team {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    padding: 10px;
}
nav ul {
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
}
nav li {
  margin: 0 10px;
  padding: 0 10px;
}
.team {
    border-radius: 50%;
    width: 27vw;
    }
</style>


<body>
    <h1>The Team!</h1>
<div class="the-team">
<nav>
  <ul>
    <li>
        <img class="team" src="/images/SA.png">
        <h2 class="h2-responsive">@Salma Aziz<a href="/404"><button type="button" class="btn btn-info-outline waves-effect">Follow</button></a></h2>
    </li>
    <li>
        <img class="team" src="/images/SM.png">
        <h2 class="h2-responsive">@Shakoi Malone<a href="/404"><button type="button" class="btn btn-info-outline waves-effect">Follow</button></a></h2>
    </li>
    <li>
        <img class="team" src="/images/BB.png">
        <h2 class="h2-responsive">@Brandon Bay<a href="/404"><button type="button" class="btn btn-info-outline waves-effect">Follow</button></a></h2>
    </li>
  </ul>
</nav>
</div>
</body>

</html>



<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
