<header>
    <%- include("../views/partials/header.ejs") %>
</header>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Team</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>OUR TEAM!!!</h1>
        <h3>Salma Aziz</h3>
        <h3>Shakoi Malone</h3>
        <h3>Brandon Bay</h3>
    
</body>
</html>




<footer>
    <%- include("../views/partials/footer.ejs") %>
</footer>
