
header {
    /* background-color: rgba(94, 92, 92, 0.799); */
    background-color: white;
    font-family: "Dongle", sans-serif;
}

body {
    background-color:#EDE7DC;
    /* background-color: rgb(161, 161, 152) */
    font-family: "Dongle", sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #535E4B;
}

div {
    flex-grow: 1;
}

footer {
    background-color: #D9BCA9;
    font-family: "Dongle", sans-serif;
    /* position: sticky;  */
}

a {
    color: #535E4B;
    text-decoration: none;
}

a:hover {
    color: #4D331F;
}