
header {
    background-color: rgba(94, 92, 92, 0.799);
    font-family: "Dongle", sans-serif;
}

body {
    background-color: rgba(243, 238, 240, 0.799);
    font-family: "Dongle", sans-serif;
}

footer {
    background-color: white;
    font-family: "Dongle", sans-serif;
}

